/*stylowanie storny*/
.App{
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-color: #ffffff;
    padding-top: 4rem;
    min-height: 100vh;
}

/* nadanie koloru navbara, !important żeby nadpisać styl z bootstrapa */
.navbar{
    background-color: #ef5350 !important;
}